tmp
.target
*.class
*.log
out
bin

# sbt specific
.cache*
.history
.lib
dist
target
lib_managed
src_managed
project/boot
project/plugins/project

# Scala-IDE specific
.scala_dependencies
.worksheet

# Eclipse specific
.classpath
.settings
.project

# IntelliJ specific
.idea
*.iml
.idea_modules

# Mac specific
.DS_Store